# Prerequisites
*.d

# Compiled Object files
obj/
bin/data/*
bin/suns-map
!bin/data/textures/

*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

.vscode/
